{% extends 'base.html.twig' %}

{% block title %}Tous les réalisateurs
{% endblock %}

{% block body %}
	<h1 class="text-center mt-5">Réalisateurs</h1>
	<div class="container bg-dark rounded-4 p-5 my-5">
		<div class="row">
			{% for director in directors %}
				<div class="col-12 col-md-4 my-3">
					<div class="card p-3">
						<a href="{{path('app_director_detail', {id: director.id})}}" class="text-center mb-3">
							<strong>
								{{ director.lastName }}
							</strong>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>

	</div>
{% endblock %}
